# Rust
/target
**/*.rs.bk

# Node / Bun
node_modules/
*.log
.DS_Store
dist/
.next/

# Editor
.vscode/
.idea/
*.swp

.env
.vercel

# Local LLM model cache
.fldx-cache/

# TypeScript incremental cache
**/tsconfig.tsbuildinfo
